.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
/*  background: #0000001e; */
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  
}

div.a {
  padding: 1em;
}

div.b {
  padding: 1em;
  text-align:center;
}

div.c {
  padding: 1em 1em;
}

div.d {
  padding: 1em 1em;
}

.boldText {
  font-weight:bold;
}
.card-img-top {
  object-fit: contain;
}