<div class="grid-container">
    <h1 class="mat-h1"></h1>
    <mat-grid-list cols="1" rowHeight="350px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-header class="headerBox">
            <mat-card-title style="color:White;">
              QM/SL/STBY Schedule
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/Monet manager view1.png">
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
